body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: @white;
  color: @grey;
}

.container {
  .clearfix;
  margin: auto;
  max-width: 1280px;
  width: 100%;
  padding-bottom: 40px;
}
