
/* Fullscreen Overlay */
.vid_overlay {
	width: 100%;
	height: 100vh;
	/* 50% opacity black */
	background: rgba(0,0,0,.7);
	/* Stays locked on scroll */
	position: fixed;
	/* On top of the rest*/
	z-index: -1;
	/* Hidden */
	opacity: 0;
	/* No interference */
	left: -100%;
	/* CSS3 Transition */
	transition: opacity .5s;
	-webkit-transition: opacity .5s;
	top: 0;
	left: 0 !important;
	.player{

	}
}

/* 90% width container */
.video-container {
	width: 100%;
	/* Centering */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.close {
	width: 20px;
	fill: white;
	position: absolute;
	right: 25px;
	top: -40px;
}

.close:hover {
	/* 50% opacity white */
	fill: rgba(255,255,255,0.5);
	cursor: pointer;
}

/* Class to fade in overlay */
.show {
	opacity: 1;
	z-index: 20;
}
@media only screen
	and (min-width : 1604px)  {
		.video-container {
			width: 90%;
		}
		.close {
			top: -30px;
		}
}
.vid_overlay{

}
.vid_overlay.show{
	z-index: 9999999999;
	.player{
	}
}
