<footer>
	<ul class="foot_nav">
		<li>©2018 Fait-Main LLC</li>
		<li><a href="https://www.google.com/maps/place/St+Helena,+CA+94574,+USA/@38.504781,-122.4743828,15z/data=!3m1!4b1!4m2!3m1!1s0x80845097f634c3a1:0x1569afca2c177b97" target="_blank">ST HELENA, CA</a></li>
		<li><a href="tel:+17077660888">707-766-0888</a></li>
		<li><a href="mailto:wine@faitmainwines.com">wine@faitmainwines.com</a></li>
		<li><a class="js-toggle" href="#site-credits-overlay-menu">SITE CREDITS</a></li>
	</ul>
	<div class="foot_logo">
		<a href="index.html"><img src="img/logo-white.svg" alt="fait wine logo"></a>
	</div>
	<div class="overlay js-overlay" id="site-credits-overlay-menu">
		<div class="inner">

		  <div class="close-button-container">
        <a class="js-close-overlay close-button" href="#">
          <img src="img/Icons-x.svg" alt="close icon">
        </a>
      </div>

			<div class="logo">
				<a href="index.html"><img src="img/logo.svg" alt="fait wine logo"></a>
			</div>
			<nav class="overlay-menu credits">
				<ul>
					<li><h1>Website Credits<hr></h1></li>
					<li><h2>Design & Creative Direction by <a href="http://www.alta.co/" target="_blank">Alta</a></h2></li>
					<li><h2>Photography & Video by <a href="http://www.mattmorrisphotos.com/" target="_blank">Matt Morris</a></h2></li>
          <li><h2>Additional Photography by <a href="https://www.deborahjonesstudio.com/" target="_blank">Deborah Jones</a></h2></li>
          <li><h2>Additional Photography & Video by <a href="http://www.celestephotography.com/" target="_blank">Celeste Hope</a></h2></li>
					<li><h2>Development by <a href="http://www.profilestudio.ca/" target="_blank">Profile Studio</a></h2></li>
					<li><h2>Copywriting by <a href="http://hedonismink.com/" target="_blank">Deirdre Bourdet</a></h2></li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
