<header>
	<div class="overlay" id="overlay">
		<div class="inner">
			<div class="close-button-container">
        <a class="js-close-overlay close-button" href="#">
          <img src="img/Icons-x.svg" alt="close icon">
        </a>
      </div>
			<div class="logo">
				<a href="index.html"><img src="img/logo.svg" alt="fait wine logo"></a>
			</div>
			<nav class="overlay-menu">
				<ul>
					<li><h1>Wine<hr></h1></li>
					<li><a href="Todeschini-Asteria.html">Todeschini Asteria Vineyard</a></li>
          <li><a href="Las-Piedras.html">Beckstoffer Las Piedras Vineyard</a></li>
					<li><a href="Sleeping-Lady.html">Bettinelli Sleeping Lady Vineyard</a></li>
					<!-- <li><a href="Toyon-Farm.html">Penhoet Toyon Farm</a></li> -->
					<li><h1>stories<hr></h1></li>
					<li><a href="Winter-Release.html">Winter Release</a></li>
					<li><h1>people<hr></h1></li>
					<li><a href="Benoit-Touquette.html">Benoit Touquette</a></li>
					<li><a href="Shauna-Mackenzie.html">Shauna Mackenzie</a></li>
          <li><a href="Lionel-Kreff.html">Lionel Kreff</a></li>
          <li><a href="Austin-Johnson.html">Austin Johnson</a></li>
					<li><h1>purchase<hr></h1></li>
					<li><a href="account.html">Member login</a></li>
					<li><a href="register.html">Join list</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
