<div class="js-sticky-nav sticky-nav">
	<a class="sticky-nav__menu-button js-toggle" href="#site-nav-overlay-menu">
		<img src="img/Icons-ham.svg" alt="menu icon">
		<span>MENU</span>
	</a>
  {{#if isAccountPage}}
    <div class="accountLinks" data-vsPlugin="accountLinks"></div>
  {{else if showAccountLink}}
    <div class="sticky-nav__link"><a href="account.html">your account</a></div>
  {{else}}
    {{#unless hideRegister}}
      <div class="sticky-nav__link"><a href="register.html">join the list</a></div>
    {{/unless}}
  {{/if}}
</div>
